*.[oa]
*.d
*.d/
bin/

back_end/black_boxes/TietzeTrek/Makefile
back_end/black_boxes/TietzeTrek/TietzeTrek
back_end/black_boxes/ace/ace
back_end/black_boxes/orwp/orwp
back_end/black_boxes/tc5/tc
back_end/black_boxes/tc5/y.tab.h
back_end/global/config.h
front_end/magnus
